.headline-about {
  margin-top: 8%;
  text-align: center;
  color: #2f2822;
  font-size: 50px;
}

.bio {
  margin: 3%;
  margin-top: 0;
  font-size: 20px;
  line-height: 1.5;
  width: 400px;
}

.form-container {
  width: 50%;
}

.fieldset {
  border: none;
  width: 400px;
}

.subHeadline {
  margin-top: 10%;
  text-align: center;
  color: #2f2822;
}

.listContainer {
  display: flex;
  flex-direction: row;
}

.list li {
  font-size: 20px;
}

.underline {
  color: #2f2822;
  background-color: #2f2822;
  width: 50px;
  margin-bottom: 5%;
}

.input-field {
  width: 100%;
}

#messageBox {
  padding: 0 0 50px 0;
}

.bio-form {
  display: flex;
  justify-content: center;
}

/* .form {
  width: 400px;
} */

.form-container {
  margin-left: 60px;
}

@media (max-device-width: 767px) {
  .bio-form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }
}

@media (min-width: 600px) {
  .headline-about {
    margin-top: 10%;
    font-size: 30px;
  }

  /* .form-container {
    width: 800px;
    margin-left: 22%;
  } */
}
