.bio {
  margin: 3%;
  font-size: 20px;
  line-height: 1.5;
}

.subHeadline {
  margin-top: 10%;
  text-align: center;
  color: #2f2822;
}

.listContainer {
  display: flex;
  flex-direction: row;
}

.list li {
  font-size: 20px;
}

.underline {
  color: #2f2822;
  background-color: #2f2822;
  width: 50px;
  margin-bottom: 10%;
}

.input-field {
  width: 100%;
}

#messageBox {
  padding: 0 0 50px 0;
}

.submit-button {
  background-color: rgba(255, 255, 255, 0.95);
  text-transform: uppercase;
  -webkit-box-shadow: 3px 3px 1.5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 1.5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 1.5px 0px rgba(0, 0, 0, 0.75);
}

@media (min-width: 600px) {
  .headline {
    margin-top: 10%;
    font-size: 30px;
  }

  .form-container {
    width: 800px;
    margin-left: 22%;
  }
}
